<p class="col-md-4 mb-0 ps-4">© 2025 Divine Drinks, Inc</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none footImgA">
            <img src="photos/Loghi/LogoTrasparent.png" alt="logo">
        </a>
    
        <ul class="nav col-md-4 justify-content-end pe-4">
            <li class="nav-item"><a href="../home.html" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="../archive.html" class="nav-link px-2 text-white">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Account</a></li>
            <li class="nav-item"><a href="../carrello.html" class="nav-link px-2 text-white">Kart</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>