<!--Sezione navBar-->
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="linkLogo" href="home.html">
            <img src="photos/Loghi/LogoTrasparent.png" alt="logo" class="logo ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- Link secondari (destra) -->
            <ul class="navbar-nav ms-auto order-lg-2">
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-4" href="carrello.html">
                        <img src="photos/Loghi/KartIconSilver.png" alt="Carrello" class="nav-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-4" href="">
                        <img src="photos/Loghi/AccountIconSilver.png" alt="Account" class="nav-icon">
                    </a>
                </li>
            </ul>
            
            <!-- Link principali -->
            <ul class="navbar-nav ms-auto order-lg-1">
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html?categoria=spiriti">SPIRITI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html?categoria=vino-rosso">VINO ROSSO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html?categoria=vino-bianco">VINO BIANCO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html?categoria=birra">BIRRA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html?categoria=idromele">IDROMELE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 mx-3" href="archive.html">ARCHIVIO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>